

@import "bootstrap/scss/bootstrap-reboot.scss";
@import "bootstrap/scss/bootstrap-grid.scss";


$background: #d0eceb;
$color: #444;
$font-family: "Sniglet Regular", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
$font-size: 13px;
$font-weight: normal;
$nav-height: 50px;

$heading-font-weight: normal;

$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 17px;
$h4-font-size: 15px;
$h5-font-size: 14px;
$h6-font-size: 12px;

$highlight-background: rgba(239, 201, 23, .99);
$highlight-color: #555;
$highlight-shadow: none;

$link-color: #2479c1;
$link-color-disabled: #ccc;
$link-color-hover: #2479c1;

$nav-transition: .2s ease-in-out;


*,
*::before,
*::after{

    box-sizing: inherit;

}

*:focus{

    outline: none;

}

html{

    box-sizing: border-box;
    text-size-adjust: 100%;

}

body{

    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    background: $background;
    box-sizing: border-box;
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    height: 100vh;
    margin: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    text-rendering: optimizeLegibility;

    &.pinked{

        background: #e6baba;

    }

    *::selection{

        background: $highlight-background;
        color: $highlight-color;
        text-shadow: $highlight-shadow;

    }

}

img{

    user-select: none;

}

a{

    color: $link-color;
    cursor: pointer;
    outline: none;
    text-decoration: none;

    &:hover{

        text-decoration: underline;

    }

    img{

        border: 0;

    }

    &.disabled{

        color: $link-color-disabled;
        cursor: not-allowed;

    }

}

form{

    margin: 0;
    padding: 0;

}

input[type="text"]{

    font-family: $font-family;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 3px 10px;
    font-size:20px;
    position:relative;
    box-shadow:0 2px 4px rgba(0, 0, 0, .1);

    &::placeholder{

        color:#f4e6c4;

    }

}


button{

    font-family: $font-family;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 3px 10px;
    font-size:20px;
    position:relative;
    color: #fff;
    background: #0f2438;
    box-shadow:0 2px 4px rgba(0, 0, 0, .1);

}

div.search{

    position:relative;
    display:inline-block;

    input[type="text"]{

        padding-left: 40px;

    }

    &::before{

        content: "";
        display: block;
        background:url("/pages/index/images/magnify.png") center center no-repeat;
        background-size:contain;
        width:18px;
        height:18px;
        position:absolute;
        top:9px;
        left:12px;
        z-index:2;

    }

}

p{

    font-size: 11px;

}

h1,
h2,
h3,
h4,
h5,
h6{

    font-weight: $heading-font-weight;

}

h1{

    font-size: $h1-font-size;

}

h2{

    font-size: $h2-font-size;

}

h3{

    font-size: $h3-font-size;

}

h4{

    font-size: $h4-font-size;

}

h5{

    font-size: $h5-font-size;

}

h6{

    font-size: $h6-font-size;

}

p{

    margin: 10px 0;
    padding: 0;

}

ul{

    padding: 0 0 10px 1.1em;

}


@include media-breakpoint-up(xs) {

    .container {

        max-width: 720px;

    }

}

@include media-breakpoint-down(sm) {

    .container {

        padding-left: 0;
        padding-right: 0;

    }

}

nav{

    background: $background;
    padding: 40px 0 0 0;
    position: fixed;
    z-index: 4;
    left:0;
    width:100%;

    body.pinked &{

        background: #e6baba;

    }

    @include media-breakpoint-down(xs) {

        padding: 10px;
        position: static;

    }

    .wrap{

        align-items: center;
        display: flex;
        justify-content: center;
        background:transparent;

        @include media-breakpoint-up(sm) {

            background:#fff;

        }

    }

    @include media-breakpoint-up(sm) {

        &.compact,
        &.offset{

            .wrap{

                box-shadow:0 2px 0 rgba(0, 0, 0, .05);

            }

            .wrap > a{

                top: 18px;
                width: 190px;
                height: 90px;
                filter:
                    drop-shadow(0 1px 0 rgba(255, 255, 255, 1))
                    drop-shadow(1px 1px 0 rgba(255, 255, 255, 1))
                    drop-shadow(-1px 1px 0 rgba(255, 255, 255, 1))
                ;

                @include media-breakpoint-down(xs) {

                    top: 20px;

                }

            }

            ul:first-child{

                margin-right: 95px;

            }

            ul:last-child{

                margin-left: 95px;

            }

        }

    }

    .wrap > a{

        background: url("/images/logo.png") center center no-repeat;
        background-size: contain;
        display: block;
        font-size: 0;
        width: 400px;
        height: 190px;

        body.loaded &{

            transition:
                top $nav-transition,
                width $nav-transition,
                height $nav-transition
            ;

        }

        @include media-breakpoint-up(sm) {

            top: 15px;
            position: absolute;
            top: 100px;

        }

        @include media-breakpoint-down(xs) {

            top: 15px;

        }

    }

    ul{

        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 5px 0;
        width: 100%;

        body.loaded &{

            transition:
                margin-left $nav-transition,
                margin-right $nav-transition
            ;

        }

        @include media-breakpoint-down(xs) {

            display: none;

        }

    }

    li{

        display: block;
        padding: 10px 0;
        text-align: center;
        width: 100%;

    }

    a{

        color: #0f2438;

        &.selected{

            color: #f9b80d;
            font-family: "Sniglet ExtraBold";

        }

    }

}


div.page{

    @include media-breakpoint-up(sm) {

        padding-top: 90px;

    }

}


@import "pages/index/index.scss";
@import "pages/episode/index.scss";
@import "pages/theme/index.scss";
