

.page--theme{

    .wrap{

        background:#114234 url(/pages/theme/images/background.jpg) top left no-repeat;
        background-size:contain;
        min-height:300px;
        padding:70px 175px 60px 40px;

    }

    .content{

        background:#fff;
        padding:50px;
        min-height:300px;

    }

}