

.page--episode{

    .wrap{

        background:#e6baba url(/pages/episode/images/background.jpg) top left no-repeat;
        background-size:cover;
        padding:65px 60px;

    }

    .content{

        background:#fff;
        padding:50px;
        min-height:300px;

    }

}